@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  /* dark-02 */
  .text-gray{
    color: #424242;
    
  }
  /* dark-03 */
  .text-light-gray{
    color: #727272;

  }
  .btn-primary{
    margin: 0 auto;
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
   
  }
  /* shared style */
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 130px;
  }
  .display-flex{
    display:flex ;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
   
  }
  .section-title{
    font-size: 2.8rem;
    font-weight: 700px;

}
  .nav-link{
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
  
  }
  .brand{
    font-size:3rem;
    font-weight: bold;
    color: #131313;
  }

  .nav-item{
    list-style: none;
    margin-right: 40px;
    
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  .banner-containt{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
.banner-title{
    font-weight: bold;
    font-weight: 4rem;
}
.banner-image{
    width: 100%;
}
/* team and feture related styles */
.teams{
    align-items: center;
}
.team-images-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-fetures{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
 
   
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgb(0, 0, 0,0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px ;
    margin-bottom: -10px;
   
}
#feature-color{
    color: #FF900E;
    font-weight: bold;
    
    
}
/* feature section related style */
.features{
    gap: 146px;
}
.featured-architect img{
    width: 100%;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
#exprience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -90px;
    margin-bottom: -110px;
}
#exprience-year{
    font-size: 4rem;
    font-weight: bold;
}
/* some card related style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-description{
    max-width: 540px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin: 5px 36px 59px 35px;
}
/* sponsor related style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsors-companies img{
    filter: grayscale(100%);
}
/* footer section */
.footer{
    text-align: center;
   
    background-color:#FFF4E7;
    width: 85%;
    /* margin: 0px ; */
    padding: 30px;
    margin-top: 50px;
    border-radius: 8px;
    margin-left: 100px;
    
   
   
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams, .features{
        flex-direction: column;
    }
    .team-images-container, 
    .facts-container,
    .sponsors-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsors-companies{
        justify-items: center;
        gap: 40px;
    }
    .our-fetures{
        margin-left: 20px;
    }
    #exprience-badge  {
        margin-top: 20px;
        margin-left:auto;

    }
    .footer{
        width: 40%;

    }
    
}
/* medium size device */
@media screen and (min-width:576px) and (max-width:992px){
    .teams, .features{
        flex-direction: column;
    }
    .our-fetures{
        margin: 50px auto;
    }
    .sponsors-companies, .facts-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    #exprience-badge , .footer{
        margin-top: 20px;
        margin-left:auto;
    }
    .footer{
        width: 60%;
        margin-right: 80px;
        
    }
}