@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  /* dark-02 */
  .text-gray{
    color: #424242;
    
  }
  /* dark-03 */
  .text-light-gray{
    color: #727272;

  }
  .btn-primary{
    margin: 0 auto;
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
   
  }
  .display-flex{
    display:flex ;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
   
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
  
  }
  .brand{
    font-size:3rem;
    font-weight: bold;
    color: #131313;
  }

  .nav-item{
    list-style: none;
    margin-right: 40px;
    
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  .banner-containt{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
.banner-title{
    font-weight: bold;
    font-weight: 4rem;
}
.banner-image{
    width: 100%;
}
/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}